#barEcharts {
    height: 300px;
    width: calc(100vw - 16px);
}

#pieEcharts {
    height: 300px;
    width: calc(100vw - 16px);;
}

#groupBarEcharts {
    height: 300px;
    width: calc(100vw - 16px);;
}

#stackBarEcharts {
    height: 300px;
    width: calc(100vw - 16px);;
}

#lineEcharts {
    height: 300px;
    width: calc(100vw - 16px);;
}

#stackLineEcharts {
    height: 300px;
    width: calc(100vw - 16px);;
}

#gradientLineEcharts {
    height: 300px;
    width: calc(100vw - 16px);;
}

#combinedEcharts {
    height: 300px;
    width: calc(100vw - 16px);;
}

#radarEcharts {
    height: 300px;
    width: calc(100vw - 16px);;
}
