z-select {
    .th-select-option {
        //color: color($colors, primary);
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        border: 1px solid #ccc;
        border-radius: 2px;
    }
    .th-select-option-no-outline {
        //color: color($colors, primary);
        vertical-align: middle;
        display: flex;
    }
    .th-type-name {
        display: flex;
        margin-right: 10px;
    }
    .th-arrow {
        width: 20px;
    }
}
