<ion-header *ngIf="isShowHeader">
    <div class="th-app-statusbar-white"></div>
    <ion-toolbar [color]="toolBarColor">
        <ion-buttons slot="start" *ngIf="startButtonContent">
            <!--<ion-back-button style="display: inline" *ngIf="!overrideBack" [icon]="startButtonContent"></ion-back-button>  ion-button在返回tab页面时，tab会选中第一个。此bug-->
            <ion-button (click)="onStartButtonClick($event)">
                <ng-template [ngTemplateOutlet]="isTemplate(startButtonContent) ?  startButtonContent:startButton"></ng-template>
            </ion-button>
        </ion-buttons>
        <ion-title [ngStyle]="{'padding': '0px ' + titlePaddingHor}">{{title}}</ion-title>
        <ion-buttons slot="end" *ngIf="endButtonContent || endButtonContent2">
            <ion-button (click)="onEndButton2Click($event)" *ngIf="endButtonContent2">
                <ng-template [ngTemplateOutlet]="isTemplate(endButtonContent2) ? endButtonContent2 : endButton2"></ng-template>
            </ion-button>
            <ion-button (click)="onEndButtonClick($event)" *ngIf="endButtonContent">
                <ng-template [ngTemplateOutlet]="isTemplate(endButtonContent) ? endButtonContent : endButton"></ng-template>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ng-content></ng-content>
</ion-header>
<z-reload class="th-reload" (reload)='onReload()' [ngStyle]="{'display':isReload ? 'block': 'none','position': 'absolute', 'top': headerHeight}"></z-reload>

<ng-template #startButton>
    <ion-icon slot="icon-only" [name]="startButtonContent"></ion-icon>
</ng-template>

<ng-template #endButton>
    <ion-icon slot="icon-only" [name]="endButtonContent"></ion-icon>
</ng-template>

<ng-template #endButton2>
    <ion-icon slot="icon-only" [name]="endButtonContent2"></ion-icon>
</ng-template>
