<div class="th-title th-font-body-dark-54">
    图片({{picList.length}}/{{maxNumber}})
</div>
<div class="th-choose-pic">
    <div *ngFor="let pic of picList;let i=index" style="display: flex;flex-direction: column">
        <div class="th-picList">
            <!--<img src={{pic.content}} class="th-pics" (click)="openImg(i)" onerror="javascript:this.src='assets/imgs/img_error.png';">-->
            <div class="th-pics" [ngStyle]="{'background-image': 'url('+pic.content+'), url(assets/common_imgs/th_img_error.png)'}" (click)="openImg(i)"></div>
            <ion-icon *ngIf="isEditMode" name='md-close-circle' class="th-delete-pic" (click)="deletePic(i)" tappable></ion-icon>
        </div>
    </div>
    <z-filechooser *ngIf="addPicClose && isEditMode" style="margin:10px;" width="calc(25vw - 21px)" height="calc(25vw - 21px)" showProgress addEXIF multiple="true" [toSize]="600"
                   (fileSelected)="onFileSelected($event)">
        <div class="th-add-image">
            <img src="assets/common_imgs/th_picture_add.png" style="width:35%;"/>
        </div>
    </z-filechooser>
</div>
