.th-reload-root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th-reload-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.th-reload-image {
    align-self: center;
}

.th-reload-text {
    color: #bfbfbf;
}
