<ion-header *ngIf="!isMobile && title">
    <ion-toolbar>
        <ion-buttons left *ngIf="leftButtonIconName">
            <button ion-button icon-only (click.stop)="onLeftButtonClick($event)">
                <ion-icon [name]="leftButtonIconName"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center [ngStyle]="{'margin-right': rightButtonIconName ? '0px':'35px', 'margin-left': leftButtonIconName ? '0px':'35px'}">{{title}}</ion-title>
        <ion-buttons right *ngIf="rightButtonIconName">
            <button ion-button icon-only (click.stop)="onRightButtonClick($event)">
                <ion-icon [name]="rightButtonIconName?rightButtonIconName:'menu'"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ng-content></ng-content>
