page-echarts {
    #one {
        width: 100%;
        height: 300px;
    }
    #two {
        width: 100%;
        height: 300px;
    }
    #three {
        width: 100%;
        height: 300px;
    }
    #barEcharts {
        height: 300px;
        width: 100%;
    }
    #pieEcharts {
        height: 300px;
        width: 100%;
    }
    #groupBarEcharts {
        height: 300px;
        width: 100%;
    }
    #stackBarEcharts {
        height: 300px;
        width: 100%;
    }
    #lineEcharts {
        height: 300px;
        width: 100%;
    }
    #stackLineEcharts {
        height: 300px;
        width: 100%;
    }
    #gradientLineEcharts {
        height: 300px;
        width: 100%;
    }
    #combinedEcharts {
        height: 300px;
        width: 100%;
    }
    #radarEcharts {
        height: 300px;
        width: 100%;
    }
}
