<!-- stopPropagation() 阻止事件冒泡 -->
<div class="th-root" ontouchmove="event.stopPropagation();">
    <ion-list radio-group [(ngModel)]="selectedPos">
        <ion-item *ngIf="addAll" style="height: 20px;" (click.stop)="clickAllItem()" tappable>
            <ion-label [ngStyle]="{'color': allSelected ? '#1F50AD':'black'}">{{allText}}</ion-label>
            <ion-icon name="ios-checkmark" *ngIf="allSelected" item-end></ion-icon>
        </ion-item>

        <ion-item *ngFor="let item of datas;let i = index" style="height: 20px;" (click.stop)="clickItem(i)" tappable>
            <ion-label [ngStyle]="{'color': (selectedPos.indexOf(i) > -1) ? '#1F50AD':'black'}">{{item}}</ion-label>
            <ion-icon name="ios-checkmark" *ngIf="selectedPos.indexOf(i) >-1" item-end></ion-icon>
        </ion-item>
    </ion-list>

    <div *ngIf="multi" class='th-buttonGroup'>
        <button class='th-button' ion-button color="gray_dark" outline (click.stop)='cancel()'>取消</button>
        <button class='th-button' ion-button (click.stop)='submit()'>确定</button>
    </div>
</div>
