page-select {
    .th-buttonGroup {
        display: flex;
        border-top: 1px solid #dedede;
        justify-content: flex-end;
    }
    .th-button {
        display: flex;
    }
    .th-button-right {
        display: flex;
        margin-right: 15px;
    }
    .th-root {
        margin-bottom: 0px;
        z-index: 100002;
    }
    .th-list {
        max-height: 320px;
    }
}
