page-select {
    .th-buttonGroup {
        display: flex;
        border-top: 1px solid #dedede;
        justify-content: flex-end;
        height: 30px;
    }
    .th-button {
        display: flex;
    }
    .th-button-right {
        display: flex;
        margin-right: 15px;
    }
    .th-root {
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    .th-content {
        height: 60%;
        max-width: 300px;
        min-width: 300px;
        background-color: #fff;
    }
    .th-list {
        margin: -1px 0 0 0;
    }
}
