<z-toolbar title="F2-Charts"></z-toolbar>
<ion-content padding>
    <canvas id="myChart_1" class="chart"></canvas>
    <canvas id="myChart_2" class="chart"></canvas>
    <canvas id="myChart_3" class="chart"></canvas>
    <canvas id="myChart_4" class="chart"></canvas>
    <div style="position: relative">
        <canvas id="myChart_5" class="chart"></canvas>
        <div style="text-align: center;height: 50px;position: absolute;left: 44%;top: 45%;">
            <p style="font-size: 12px;color: #999;margin: 0" id="title">{{title}}</p>
            <p style="font-size: 18px;color: #343434;margin: 0;font-weight: bold;" id="money">{{money}}</p>
        </div>
    </div>
</ion-content>

