@media screen and (min-width: 360px) and (max-width: 374px) and (orientation: portrait) {
    html {
        font-size: 70.3%;
    }
}

@media screen and (min-width: 375px) and (max-width: 383px) and (orientation: portrait) {
    html {
        font-size: 73.24%;
    }
}

@media screen and (min-width: 384px) and (max-width: 399px) and (orientation: portrait) {
    html {
        font-size: 75%;
    }
}

@media screen and (min-width: 400px) and (max-width: 413px) and (orientation: portrait) {
    html {
        font-size: 78.125%;
    }
}

@media screen and (min-width: 414px) and (max-width: 431px) and (orientation: portrait) {
    html {
        font-size: 80.86%;
    }
}

@media screen and (min-width: 432px) and (max-width: 479px) and (orientation: portrait) {
    html {
        font-size: 84.375%;
    }
}

@media screen and (max-width: 359px) {
    html {
        font-size: 62.5%;
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 62.5%;
    }
}
