.ion-md-myIcon:before {
    content: url("../assets/fonts/myIcon.svg");
}
.ion-ios-myIcon:before {
    content: url("../assets/fonts/myIcon.svg"); 
}
.ion-ios-myIcon-outline:before {
    content: url("../assets/fonts/myIcon.svg"); 
}