$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
    primary: #1F50AD,
    secondary: #32db64,
    danger: #f53d3d,
    light: #f4f4f4,
    dark: #222
);

// App iOS Variables
$loading-ios-background:rgba($color: #000000, $alpha: 0.7);


// App Material Design Variables
$tabs-md-tab-min-height:36px;
$toolbar-md-title-font-size:1.7rem;
$toolbar-md-height:48px;
$loading-md-background:rgba($color: #000000, $alpha: 0.7);
$segment-button-md-height: 3.2rem;
$segment-button-md-line-height: 3rem;

// App Theme
@import "ionic.theme.default";

// Ionicons
@import "ionic.ionicons";

// Fonts
@import "roboto";
@import "noto-sans";

@import './icons';
