//修改默认不全部大写
.button {
    text-transform: capitalize;
}

//ActionSheet item居中样式
.z-actionsheet-button {
    .button-inner {
        justify-content: center !important;
    }
}

//弹出框标题文字大小
.alert-md .alert-title {
    font-size: 18px;
}

//弹出框标题文字padding
.alert-md .alert-head {
    padding: 18px 18px 18px;
}
//弹出框宽度
.alert-md .alert-wrapper {
    max-width: 300px;
    min-width: 300px;
}
//popover弹出框宽度
.popover-md .popover-content{
    width: 300px;
}

