<z-toolbar title="输入框相关"></z-toolbar>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-content padding>
    <ion-list class="th-app-list">
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime display-format="YY年MM月DD日 HH:mm" picker-format="YYYY年MM月DD日 HH:mm" min="2016" max="2020-10-31" cancelText="取消" doneText="确定"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime display-format="YYYY年MM月DD日"></ion-datetime>
        </ion-item>

        <ion-input value="custom"></ion-input>
        <ion-input placeholder="Enter Input"></ion-input>
        <ion-input clearInput value="clear me"></ion-input>
        <ion-input type="number" value="333"></ion-input>
        <ion-input value="Disabled" disabled></ion-input>
        <ion-input value="Readonly" readonly></ion-input>
        <ion-item>
            <ion-label>Default Label</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Floating Label</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="fixed">Fixed Label</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Stacked Label</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>
                Two Icons End
            </ion-label>
            <ion-icon name="checkmark-circle" slot="end"></ion-icon>
            <ion-icon name="shuffle" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>


